.formBack{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='500' height='600' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1035%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(23%2c 117%2c 187%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c428.004C78.719%2c436.952%2c146.294%2c373.572%2c208.774%2c324.859C266.751%2c279.656%2c322.634%2c227.739%2c346.184%2c158.097C368.696%2c91.524%2c348.821%2c20.733%2c334.914%2c-48.153C321.744%2c-113.388%2c307.854%2c-178.867%2c267.477%2c-231.77C225.506%2c-286.761%2c170.832%2c-336.855%2c103.259%2c-351.669C37.214%2c-366.148%2c-24.205%2c-319.955%2c-91.139%2c-310.391C-173.172%2c-298.67%2c-279.477%2c-351.816%2c-333.781%2c-289.223C-388.074%2c-226.643%2c-319.146%2c-128.913%2c-320.454%2c-46.074C-321.543%2c22.893%2c-367.989%2c92.247%2c-340.803%2c155.639C-313.529%2c219.235%2c-234.403%2c237.424%2c-180.347%2c280.625C-118.446%2c330.095%2c-78.733%2c419.054%2c0%2c428.004' fill='%230f4c7a'%3e%3c/path%3e%3cpath d='M1440 1268.3229999999999C1572.108 1281.038 1707.371 1216.513 1802.324 1123.787 1890.659 1037.524 1886.729 899.672 1934.214 785.7 1979.618 676.721 2078.5460000000003 586.676 2075.272 468.66200000000003 2071.889 346.7 2010.027 225.461 1916.499 147.111 1827.568 72.61200000000002 1699.195 88.85300000000001 1586.939 59.572 1478.963 31.408000000000015 1379.857-36.02800000000002 1269.188-21.73199999999997 1150.2350000000001-6.3659999999999854 1018.96 38.64200000000005 956.467 141.01600000000002 894.517 242.5 971.698 372.56100000000004 956.509 490.485 941.656 605.801 836.749 709.076 868.909 820.809 901.413 933.7370000000001 1027.391 985.6220000000001 1119.888 1058.104 1222.446 1138.47 1310.304 1255.8400000000001 1440 1268.3229999999999' fill='%23359be6'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1035'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");

}

.imgDiv{
  display: flex;
  justify-content: center;
}
.imgStyle{
   height: 100px;
   width: 100px;
}

.formBack{
  
   /* MQ for Mobile Devices */
   @media (max-width: 480px) {
   }
   /* MQ for low resolution  Tablets, Ipads */
   @media (min-width: 481px) and (max-width: 767px){

   }
   /* MQ Laptops and Desktops */
   @media (min-width: 1025px) and (max-width: 1280px){
   }
    /* MQ for Large screens */
    @media (min-width: 1281px) {
    }
  }
  